{% extends 'base.html' %}
{% load static %}
{% block title %}About You | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block meta-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block canonical-link %}https://theaccretio.com/about-you{% endblock %}
{% block og-url %}https://theaccretio.com/about-you{% endblock %}
{% block og-title %}About You | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-sitename %}About You | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-imgalt %}About You | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block twitter-imgalt %}About You | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block twitter-title %}About{% endblock %}
{% block twitter-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}

{% block content %}
    <main class="home-scrolleffect">
        <section id="home-scroll-section-1" class="panel home-scrolleffection-sec1 bg-transparent">
            <div class="sticky-height">
                <div class="sticky-content">
                    <div class="content-wrapper about-scrolleffection-sec1-bg">
                        <div class="home-scrolleffect-t scrolleffect-title-ani">
                            <div class="home-scrolleffect-title-2">
                                About<br>You.Not<br>About Us.
                            </div>
                        </div>
                        <div class="home-scrolleffect-t2 about-scrolleffection-sec1-bg-2">
                            <div class="container-margin-home">
                                <p class="home-scrolleffect-title-p-2">You’re a progressive leader, looking to transform
                                    your
                                    company and realise its full potential. You’re open to new ideas, new technologies
                                    and new
                                    partners. You believe in the power of creativity and content. You’re looking for a
                                    respectful sparring partner. You’re obsessed with results.</p>
                                <p class="home-scrolleffect-title-p-3 pt-3">You’re the client we’ve been looking for.
                                </p>
                                <div class="home-scrolleffect-a text-start">
                                    <a class="connect-btn-w text-decoration-none" href="{% url 'letsconnect' %}">Let's Connect
                                        <i class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- About Section 3 -->
        <section class="about-section3">
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="about-content3">
                        <h3 class="m-2 mt-3 mt-lg-2 m-lg-4 mb-0 display-3 p-2">What you need. Not what we
                            do.</h3>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div class="col-lg-6 col-12 d-flex justify-content-center border-r about-subtext">
                            <div class="about-subtext-3">
                                <p class="about-subtext-p">Today’s leaders need more than ever. You must grow your
                                    business
                                    faster and smarter than ever before. That’s why you need The Accretio.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 d-flex justify-content-center border-r about-subtext">
                            <div class="about-subtext-3">
                                <p class="about-subtext-p mb-0">Whether you’re tasked with transforming your brand
                                    experiences with breakthrough creativity, harnessing the power of technology by
                                    enabling
                                    it within your organisation or stimulating new growth with bold and brave
                                    initiatives,
                                    we can help.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="about-acc-img">
                                <div class="about-button2 animate-2-top">
                                    <a class="connect-btn text-decoration-none" href="expertise">Our Expertise <i
                                            class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </section>
        <!-- About Section 3 Ends -->

        <!-- About Section 4 -->
        <section class="about-section4">
            <div class="about-3d w-lines">
                <div class="container-margin show-border-f core-values">
                    <div class="container">
                        <div class="row d-flex animate-2-top">
                            <div class="col-lg-6 p-16">
                                <div class="about-sec4-content">
                                    <h2 class="text-animate">Core Values</h2>
                                    <p class="text-white text-start">The culture of our firm is governed by 3
                                        core values:</p>
                                </div>
                            </div>
                        </div>
                        <div class="core-values-w">
                            <div class="row about-corevalues animate-2-top">
                                <div class="col-lg-6 col-4 p-16">
                                    <div class="text-start">
                                        <h3 class="display-3 text-white">#1</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-8 p-16">
                                    <div class="text-start">
                                        <a class="corevalues-tab text-decoration-none h3 fw-normal py-4">Commitment to
                                            client’s growth</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row about-corevalues animate-2-top">
                                <div class="col-lg-6 col-4 p-16">
                                    <div class="text-start">
                                        <h3 class="display-3 text-white">#2</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-8 p-16">
                                    <div class="text-start">
                                        <a class="corevalues-tab text-decoration-none h3 fw-normal py-4">Courage to
                                            speak up</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5 about-corevalues animate-2-top">
                                <div class="col-lg-6 col-4 p-16">
                                    <div class="text-start">
                                        <h3 class="display-3 text-white">#3</h3>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-8 p-16">
                                    <div class="text-start">
                                        <a class="corevalues-tab text-decoration-none h3 fw-normal py-4">Embracing
                                            Comraderie</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section 4 Ends -->

        <!-- About Section 5 -->
        <section class="about-section5">
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="container about-content3 p-16">
                        <h3 class="mb-0 display-3 text-animate">Our Team</h3>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div class="col-12 d-flex justify-content-center border-r about-subtext p-16">
                            <div class="about-subtext-3">
                                <p class="about-subtext-p text-center about-subtext-p-2">When you hire The Accretio you
                                    get
                                    access to our most senior and experienced people. They'll actually work on your
                                    business, not just oversee it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
            <div class="about-buss w-lines animate-2-top">
                <div class="container-margin img-accr-buss show-border-f about-img1">
                    <div class="container p-16">
                        <h3 class="about-founders text-animate">Meet the Founders</h3>
                    </div>
                </div>
            </div>
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div class="col-lg-6 border-r animate-2-top">
                            <div class="about-subtext-2 h-100 about-subtext-arrow">
                                <div class="about-subtext-4">
                                    <h3>Karthikeyan – Co-founder and Director</h3>
                                    <p class="about-subtext-p-3 pt-5">Karthikeyan started his career with a passion in
                                        Design and Marketing.<br><br> Under-Graduation in Civil Engineering,
                                        Post-Graduation
                                        in Hospitality Management at Switzerland and specialization in Digital Marketing
                                        from London Business School has experience in handling Branding portfolios and
                                        million-dollar Marketing campaigns of major firms across the globe.</p>
                                </div>
                            </div>
                            <div class="no-d-desktop d-mobile">
                                <!-- Animation -->
                                <div class="d-sm-flex border-bottom-animation">
                                    <div class="w-50 position-relative border-bottom-animation-b">
                                        <div class="border-bottom-animation-l-2"></div>
                                    </div>
                                    <div class="w-50 position-relative border-bottom-animation-b">
                                        <div class="border-bottom-animation-r-2"></div>
                                    </div>
                                </div>
                                <!-- Animation -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 d-flex justify-content-center border-r animate-2-top">
                            <div class="about-subtext-2 about-subtext-arrow">
                                <div class="about-subtext-4">
                                    <h3>Sudhakar – Co-founder</h3>
                                    <p class="about-subtext-p-3 pt-5">Sudhakar Sampath served Wipro Limited for a decade
                                        and
                                        played Global HR Lead and L&D Specialist roles. He is a management graduate from
                                        Tata Institute of Social Sciences and also an ICF certified Coach.<br><br> His
                                        thought leadership reflected in various articles and magazines published in
                                        Forbes,
                                        SHRM, People matters, Chief Executive, Management Today and The Hindu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </section>
        <!-- About Section 5 Ends -->

        <!-- About Section 6 -->
        <section class="about-section6">
            <div class="animate-2-top">
                <div class="container-margin show-border-f p-0">
                    <div class="container about-content3 p-16">
                        <h3 class="mb-0 display-3 text-animate">Our Family</h3>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
            <div class="about-family w-lines animate-2-top">
                <div class="container-margin img-accr-family show-border-f about-img1">
                </div>
            </div>
            <div class="about-table w-lines">
                <div class="w-lines">
                    <div class="container-margin show-border-full w-lines">
                        <div class="pt-5">
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Danielle Macedo</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Advisor - Leading Digital Transformation</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Vijesh</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Head,
                                                    Social Media Marketing</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Zubair</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Head,
                                                    Web Development</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Rannva Joensen</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Creative Consultant</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Prateek Nisanth</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Creative Head, India</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Dinesh</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    UI
                                                    and Design Executive</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Prakash</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Special Talent, Content Marketing</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin show-border-l-r p-0">
                        <div class="row g-0">
                            <div class="col-12 d-flex justify-content-center border-r about-table-text">
                                <div class="about-subtext-3-2">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-4 animate-2-top">
                                                <p class="about-table-text-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Lokesh</p>
                                            </div>
                                            <div class="col-lg-6 animate-2-top">
                                                <p
                                                    class="about-table-text-sub-p mb-0 text-center about-subtext-p-2 lh-lg">
                                                    Special Talent, Animation and VFX</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
                <div class="w-lines animate-2-top">
                    <div class="container-margin pb-5 show-border-full w-lines">
                        <div class="about-button2 w-btn pt-5">
                            <a class="connect-btn text-decoration-none" href="{% url 'letsconnect' %}">Let's Connect <i
                                    class="ps-3 fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section 6 Ends -->

        <!-- About Section 7 -->
        <section class="about-section6">
            <div>
                <div class="container-margin show-border-f p-0 w-space">
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
            <div class="about-title-2 w-lines animate-2-top">
                <div class="container-margin show-border-f about-title1 a-title p-16">
                    <div class="container">
                        <h1 class="a-t-content ps-0 ps-lg-4">Your network.<br> Not our clients.</h1>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex justify-content-center flex-column align-items-center border-r about-subtext">
                            <div class="about-subtext-3 mt-5">
                                <p class="about-subtext-p text-start about-subtext-p-4 animate-2-top">When you work with
                                    us,
                                    you join a network of like-minded companies committed to creativity, innovation and
                                    growth. Your network will include leaders from many of the world’s budding brands.
                                    It is
                                    our responsibility to connect you with the best minds in the industry to discuss
                                    problems, share ideas, create partnerships and build friendships.</p>
                            </div>
                            <div class="about-subtext-3 mt-5">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <p
                                            class="about-subtext-p text-start about-you-subtext-p about-subtext-p-2 animate-2-top">
                                            Join The Accretio Club – A private membership club, within which the
                                            companies
                                            work together for mutual business development. Our goal is to create new
                                            business partnerships between brands and facilitate their joint Marketing
                                            activities.</p>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="about-button animate-2-top">
                                            <a class="connect-btn text-decoration-none" href="{% url 'joinourclub' %}">Join
                                                our
                                                Club <i class="ps-3 fa-solid fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section 7 Ends -->

        <!-- About Section 8 -->
        <section class="about-section8">
            <div class="container-margin">
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-center animate-2-top">
                        <h3 class="h1">We are a Creative, Growth and Performance based Marketing agency that caters to
                            aspirational consumers.</h3>
                    </div>
                    <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                        <div class="card1 d-flex justify-content-center animate-2-top">
                            <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/the-accretio-appointment/schedule-a-meeting'});return false;"
                                class="schedule" style="cursor: pointer;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-top d-flex">
                                            <h5 class="card-title pb-4 h6">Schedule a meeting.</h5>
                                            <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                        </div>
                                        <p class="card-text">let’s connect</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                        <div class="card1 card2 d-flex justify-content-center animate-2-top">
                            <a href="{% url 'letsconnect' %}" class="schedule">
                                <div id="card2" class="card">
                                    <div class="card-body">
                                        <div class="card-top d-flex">
                                            <h5 class="card-title pb-4 pe-3 h6">Contact to elevate.</h5>
                                            <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                        </div>
                                        <p class="card-text">let’s connect</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section 8 Ends -->
        {% endblock %}