{% extends 'base.html' %}
{% load static %}
{% block title %}BESTIU | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block meta-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block canonical-link %}{% endblock %}
{% block og-url %}https://dineshvijayakumar96.pythonanywhere.com/our-works/iconic-city{% endblock %}
{% block og-title %}BESTIU | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-sitename %}BESTIU | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-imgalt %}BESTIU | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block twitter-imgalt %}BESTIU | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block twitter-title %}BESTIU{% endblock %}
{% block twitter-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}

{% block content %}
<!-- Iconic section 1 -->
<section class="iconic-section1 margin-top-nav no-d-mobile">
    <div class="container-margin show-border-f p-0">
        <div class="animate-3"></div>
        <div class="iconic-video1">
            <div class="ai-video2-2 animate-2-top no-d-mobile">
                <video class="w-100 d-block" muted loop playsinline preload="none"
                    poster="{% static 'images/bestiu-video-thumb.png' %}"
                    controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                    <source src="{% static 'images/bestiu-video.mp4' %}" type="video/mp4">
                </video>
                <div class="ai-play-button iconic-play-button d-desktop no-d-mobile"></div>
            </div>
            {% comment %} <div class="show-img1 w-100 no-d-desktop d-mobile">
                <picture>
                    <source srcset="{% static 'images/bestiu-video-thumb.webp' %}" type="image/webp">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/bestiu-video-thumb.png' %}" alt="BESTIU Logo Big">
                </picture>
            </div> {% endcomment %}
        </div>
    </div>
</section>
<!-- Iconic section 1 ends -->

<!-- Section Works Video -->
<section class="works-video-sec no-d-desktop  d-mobile">
    <div class="bg-video-works">
        <div class="ai-video2 content-video position-relative">
            <video class="d-block" autoplay muted loop playsinline preload="none"
                controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                <source src="{% static 'images/bestiu-video-2.mp4' %}" type="video/mp4">
            </video>
            <!-- <div class="ai-play-button"></div> -->
        </div>
    </div>
</section>
<!-- Section Works Video -->

<section class="work-overlay-content w-lines vh-100">
    <div class="animate-2-2 w-lines vh-100">
        <div class="container-margin show-border-f vh-100 p-0">
            <div class="d-mobile no-d-desktop work-over-content-position">
                <div class="row">
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h1 class="text-white mb-0 display-1 fw-600 text-start text-animate">
                                <span class="text-white mb-0 display-1 fw-600 text-start">#4 BESTIU</span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 animate-2-top">
                        <div class="container">
                            <div class="about-content3 justify-content-start">
                                <h3 class="text-white mb-0 fs-5 text-start text-animate">Innovation University</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 animate-2-top">
                        <div class="container">
                            <div class="about-content3">
                                <h3 class="text-white mb-0 fs-5 text-start text-animate">South India</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
    </div>
</section>

<!-- Iconic Section 2 -->
<section class="iconic-section2 bg-darker w-lines">
    <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-f p-0">
            <div class="d-desktop no-d-mobile">
                <div class="row">
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h1 class="text-white mb-0 display-1 fw-600 text-start text-animate">
                                <span class="text-white mb-0 display-1 fw-600 text-start">#4</span> BESTIU
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-5 animate-2-top">
                        <div class="container about-content3">
                            <h3 class="text-white mb-0 display-5 text-center text-animate">Innovation University</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 animate-2-top">
                        <div class="container about-content3">
                            <h3 class="text-white mb-0 display-5 text-center text-animate">South India</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="d-mobile no-d-desktop">
                <div class="row">
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h1 class="text-white mb-0 display-1 fw-600 text-start text-animate">
                                <span class="text-white mb-0 display-1 fw-600 text-start">#4</span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 animate-2-top">
                        <div class="about-content3 justify-content-center">
                            <h3 class="text-white mb-0 fs-3 text-center text-animate">BESTIU</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-5 animate-2-top">
                        <div class="about-content3 justify-content-center">
                            <h3 class="text-white mb-0 fs-5 text-center text-animate">Innovation<br>University</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-3 animate-2-top">
                        <div class="about-content3">
                            <h3 class="text-white mb-0 fs-5 text-center text-animate">South<br>India</h3>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-f p-0">
            <div class="row g-0 w-lines iconic-border-r-hide">
                <div class="col-lg-3 col-12 border-r iconic-sec2-box1 animate-2-top">
                    <div class="py-3 i2c2-h-inherit d-mobile no-d-desktop">
                        <p class="text-white about-subtext-p mb-4 text-center fs-4 lh-base"></p>
                    </div>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                    <div class="my-3 i2c2-h-inherit d-flex justify-content-center align-items-center">
                        <p class="text-white about-subtext-p m-0 text-center fs-4 lh-base">Challenges</p>
                    </div>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                <div class="col-lg-9 col-12 d-flex justify-content-center border-r">
                    <div id="iconic-gridline-1" class="row w-lines">
                        <div class="col-12">
                            <div class="row g-0 h-100 w-lines iconic-border-r-hide">
                                <div class="col-lg-6 border-r animate-2-top">
                                    <div class="iconic-grid-challenge">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3 fw-bold">Navigating Diversity</p>
                                        </div>
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Tailoring a cohesive brand identity that resonates across diverse academic disciplines, research areas, and student demographics.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                                <div class="col-lg-6 animate-2-top">
                                    <div class="iconic-grid-challenge">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3 fw-bold">Tech-Integration Challenge</p>
                                        </div>
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Integrating cutting-edge technologies and digital platforms to enhance brand visibility and engagement in an ever-evolving digital landscape.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row g-0 h-100 w-lines iconic-border-r-hide">
                                <div class="col-lg-6 border-r animate-2-top">
                                    <div class="iconic-grid-challenge">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3 fw-bold">Global Competition</p>
                                        </div>
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Standing out in the global education market, where universities worldwide vie for international students, faculty, and research collaborations.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                                <div class="col-lg-6 animate-2-top">
                                    <div class="iconic-grid-challenge">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3 fw-bold">Balancing Tradition and Innovation</p>
                                        </div>
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Striking the right balance between showcasing rich institutional history and fostering a forward-thinking, innovative image to appeal to modern academia.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Iconic Section 2 Ends -->

<!-- Sreepooja Video Section -->
<div class="ai-video animate-2-top d-desktop no-d-mobile">
    <video class="w-100 d-block" autoplay muted loop playsinline preload="none"
        controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
        <source src="{% static 'images/bestiu-mockup-video.mp4' %}" type="video/mp4">
    </video>
</div>
<!-- Sreepooja Video Section ends -->

<!-- Iconic Section 3 -->
<section class="iconic-section3">
    <div class="animate-2-2">
        <div class="container-margin py-5 show-border-f">
            <div class="row">
                <div class="col-lg-4 col-6 order-lg-1 order-1 animate-2-top">
                    <h2 class="text-showcase text-end display-1 text-center text-animate">Dubai Expo<br>Showcase</h2>
                </div>
                <div class="col-lg-8 col-6 order-lg-1 order-2 animate-2-top">
                    <div class="title-line iconic-objects-2 ms-5">
                        <div class="line2-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-margin show-border-f p-0">
            <div class="row g-0">
                <div class="col-lg-4 col-12 border-r animate-2-top">
                    <p class="objectives-p">Employing a meticulously crafted digital showcase at the Dubai EXPO, we strategically positioned BEST Innovation University on the global stage, providing unparalleled international exposure.</p>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                <div class="col-lg-4 col-12 border-r animate-2-top">
                    <p class="objectives-p">Our innovative creatives including graphic designs, videos, and brochures garnered a highly positive response, establishing the groundwork for valuable international university partnerships.</p>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                <div class="col-lg-4 col-12 border-r animate-2-top">
                    <p class="objectives-p">By showcasing these accomplishments on social media platforms, we elevated the university's brand, fostering a global audience and solidifying its position as a leader in innovation and academia.</p>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                {% comment %} <div class="col-lg-3 col-12 border-r animate-2-top">
                    <p class="objectives-p">Create an extensive Social Media Marketing strategy with a goal of
                        generating leads, creating brand awareness and building loyalty and relationships with the
                        potential and existing customers.</p>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="container-margin p-0">
        <div class="animate-3"></div>
    </div>
</section>
<!-- Iconic Section 3 Ends -->

<!-- Iconic Section 4 -->
<section class="iconic-section2 bg-darker w-lines">
    <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-f p-0">
            <div class="row">
                <div class="col-lg-4 animate-2-top">
                    <div class="about-content3 d-flex justify-content-center iconic-plan-title">
                        <h3 class="text-white mb-0 display-4 fw-500 text-start text-animate">Plan Execution
                        </h3>
                    </div>
                </div>
                {% comment %} <div class="col-lg-9 animate-2-top">
                    <div class="container about-content3">
                        <p class="text-white objectives-p iconic-plan-p">To achieve our objectives, we designed and
                            built a series of distinct, compelling concepts With the level of saturation in real
                            estate, it’s essential to stand out on social media and give people something that
                            improves your credibility and brand values.</p>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="animate-2-2 w-lines">
        <div class="container-margin p-0">
            <div class="row g-0 w-lines">
                <div class="col-lg-3 col-12 order-lg-2 show-border-f">
                    <div class="row g-0 w-lines">
                        <div class="col-12 animate-2-top">
                            {% comment %} <div class="ai-video2 content-video position-relative">
                                <video class="w-100 d-block" autoplay muted loop playsinline preload="none"
                                    controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                                    <source src="{% static 'images/antara-fruits.mp4' %}" type="video/mp4">
                                </video>
                                <!-- <div class="ai-play-button"></div> -->
                            </div> {% endcomment %}
                            <div class="show-img1 w-100">
                                <picture>
                                    <source srcset="{% static 'images/bestiu-mockup-1.webp' %}" type="image/webp">
                                    <img loading="lazy" class="img-fluid" src="{% static 'images/bestiu-mockup-1.png' %}"
                                        alt="BESTIU Bill Board Mockup 3">
                                </picture>
                            </div>
                        </div>
                        <div
                            class="col-12 d-flex justify-content-between align-items-center flex-column my-5 iconic-object animate-2-top">
                            <div class="about-subtext-3 d-flex align-items-center">
                                <p class="plan-ex-p fw-bold">Dubai Expo Impact</p>
                            </div>
                            <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                                <p class="plan-ex-p">Used targeted strategies for Dubai EXPO, engaging audiences with innovative stall designs and digital brochures.</p>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                    </div>
                </div>
                <div class="col-lg-3 col-12 order-lg-3 show-border-f">
                    <div class="row g-0 w-lines">
                        <div class="col-12 border-r iconic-object w-lines animate-2-top">
                            <div class="iconic-object d-flex justify-content-between align-items-center flex-column my-5">
                                <div class="about-subtext-3 d-flex align-items-center">
                                    <p class="plan-ex-p fw-bold">Interactive Brochures</p>
                                </div>
                                <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                                    <p class="plan-ex-p">Designed visually appealing digital brochures, seamlessly transitioning from traditional to digital marketing.</p>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                        <div class="col-12 border-r iconic-object animate-2-top no-d-mobile d-desktop">
                            <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                                <p class="plan-ex-p"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-12 order-lg-4 show-border-f">
                    <div class="row g-0 w-lines">
                        <div class="col-12 border-r iconic-object w-lines animate-2-top">
                            <div class="iconic-object">
                                <div class="show-img1 w-100">
                                    <picture>
                                        <source srcset="{% static 'images/bestiu-mockup-4.webp' %}" type="image/webp">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/bestiu-mockup-4.png' %}"
                                            alt="BESTIU Instagram Mockup">
                                    </picture>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                        <div class="col-12 border-r iconic-object animate-2-top no-d-mobile d-desktop">
                            <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                                <p class="plan-ex-p"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="col-lg-3 col-12 order-lg-1 d-flex justify-content-center align-items-center flex-column py-5 show-border-f about-subtext animate-2-top">
                    <div class="about-subtext-3 d-flex align-items-center mb-5">
                        <p class="plan-ex-p fw-bold">Design Excellence</p>
                    </div>
                    <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                        <p class="plan-ex-p">Crafted distinctive brand identity and immersive stall experiences, complemented by visually appealing digital brochures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines">
                <div class="col-lg-8 order-lg-1 order-sm-2 border-r animate-2-top">
                    <div class="show-img1 w-100">
                        <picture>
                            <source srcset="{% static 'images/bestiu-mockup-2.webp' %}" type="image/webp">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/bestiu-mockup-2.png' %}"
                                alt="BESTIU Bill Board Mockup 3">
                        </picture>
                    </div>
                </div>
                <div
                    class="col-lg-4 order-lg-2 order-sm-1 px-3 border-r d-flex justify-content-center align-items-center flex-column my-5 animate-2-top">
                    <div class="about-subtext-3 d-flex align-items-center mb-5">
                        <p class="plan-ex-p fw-bold">Efficient Social Enrollment</p>
                    </div>
                    <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                        <p class="plan-ex-p">Digitized admission through user-friendly social media channels for enhanced efficiency.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines">
                <div
                    class="col-lg-5 px-3 border-r d-flex justify-content-between align-items-center flex-column py-5 animate-2-top">
                    <div class="about-subtext-3 d-flex align-items-center mb-5">
                        <p class="plan-ex-p fw-bold">Strategic Social Presence</p>
                    </div>
                    <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                        <p class="plan-ex-p">Developed and maintained a strategic social media presence for audience engagement.</p>
                    </div>
                </div>
                <div class="col-lg-4 border-r animate-2-top">
                    <div class="show-img1 w-100">
                        <picture>
                            <source srcset="{% static 'images/bestiu-mockup-5.webp' %}" type="image/webp">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/bestiu-mockup-5.jpg' %}"
                                alt="BESTIU Website Mockup">
                        </picture>
                    </div>
                </div>
                <div
                    class="col-lg-3 px-3 border-r d-flex justify-content-between align-items-center flex-column my-5 animate-2-top">
                    <div class="about-subtext-3 d-flex align-items-center mb-5">
                        <p class="plan-ex-p fw-bold">Ad Campaign Success</p>
                    </div>
                    <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                        <p class="plan-ex-p">Executed data-driven campaigns for increased visibility, engagement, and qualified leads.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines">
                <div class="col-lg-4 border-r">
                    <div class="row g-0">
                        <div class="col-lg-12 border-r animate-2-top">
                            <div class="ai-video2 content-video position-relative">
                                <video class="w-100 d-block" autoplay muted loop playsinline preload="none"
                                    controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                                    <source src="{% static 'images/bestiu-video-2.mp4' %}" type="video/mp4">
                                </video>
                                <!-- <div class="ai-play-button"></div> -->
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                        <div class="col-lg-12 border-r animate-2-top">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-r">
                    <div class="row g-0 w-lines h-100">
                        <div class="col-lg-12 d-flex justify-content-between flex-column border-r iconic-object-2 animate-2-top">
                            <div class="w-100"></div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                        <div
                            class="col-lg-12 px-3 border-r d-flex justify-content-between align-items-center flex-column my-5 animate-2-top">
                            <div class="about-subtext-3 d-flex align-items-center mb-5">
                                <p class="plan-ex-p fw-bold">Precise Social Campaigns</p>
                            </div>
                            <div class="about-subtext-3 d-flex justify-content-center align-items-center">
                                <p class="plan-ex-p">Executed targeted social media campaigns, amplifying BEST Innovation University's digital presence and message.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border-r">
                    <div class="row g-0">
                        <div class="col-lg-12 border-r iconic-object-2 animate-2-top"></div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="col-lg-12 mb-5 mb-lg-0 border-r animate-2-top">
                            {% comment %} <div class="ai-video2 content-video position-relative">
                                <video class="w-100 d-block" autoplay muted loop playsinline preload="none"
                                    controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                                    <source src="{% static 'images/antara-salad.mp4' %}" type="video/mp4">
                                </video>
                                <!-- <div class="ai-play-button"></div> -->
                            </div> {% endcomment %}
                            <div class="show-img1 w-100">
                                <picture>
                                    <source srcset="{% static 'images/bestiu-poster-1.webp' %}" type="image/webp">
                                    <img loading="lazy" class="img-fluid" src="{% static 'images/bestiu-poster-1.png' %}"
                                        alt="BESTIU Bill Board Mockup 3">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% comment %} <div class="animate-2-2 w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines">
                <div class="col-lg-4 border-r">
                    <div class="row g-0">
                        <div class="col-lg-12 border-r">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 border-r">
                    <div class="row g-0 w-lines h-100">
                        <div class="col-lg-6 border-r animate-2-top">
                            <div class="show-img1 w-100">
                                <picture>
                                    <source srcset="{% static 'images/3-2.webp' %}" type="image/webp">
                                    <img loading="lazy" class="img-fluid w-100" src="{% static 'images/3-2.jpg' %}"
                                        alt="BESTIU Instagram Post 2">
                                </picture>
                            </div>
                        </div>
                        <div class="col-lg-6 border-r animate-2-top">
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="col-lg-12 border-r  iconic-object-2 animate-2-top">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
</section>
<!-- Iconic Section 4 Ends -->

<!-- Iconic Section 5 -->
<section class="about-section6 bg-green">
    <div class="animate-2-top">
        <div class="container-margin show-border-f p-0">
            <div class="container about-content3">
                <h3 class="mb-0 display-3 text-animate">Results</h3>
            </div>
        </div>
    </div>
    <!-- Animation -->
    <div class="d-sm-flex border-bottom-animation">
        <div class="w-50 position-relative border-bottom-animation-b">
            <div class="border-bottom-animation-l-2"></div>
        </div>
        <div class="w-50 position-relative border-bottom-animation-b">
            <div class="border-bottom-animation-r-2"></div>
        </div>
    </div>
    <!-- Animation -->
    <div class="bg-green">
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-21.svg' %}" width="50" alt="">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">BEST Innovation University experienced a significant boost in digital brand recognition and engagement.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-22.svg' %}" width="50" alt="">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">Digital ad campaigns yielded impressive results, contributing to a substantial increase in leads and inquiries.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-23.svg' %}" width="50" alt="">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">The university's digital presence at Dubai EXPO garnered international acclaim, positioning it as a digitally forward institution on a global scale.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-24.svg' %}" width="50" alt="">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">The streamlined digital admission process enhanced the overall digital experience for prospective students.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-25.svg' %}" width="50" alt="">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">Through a strategic focus on digital branding, The Accretio has propelled BEST Innovation University into the digital forefront, establishing a distinguished online presence that aligns seamlessly with their commitment to innovation and academic excellence.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container-margin pb-5 show-border-full">
                <div class="about-button2 w-btn pt-5">
                </div>
            </div>
        </div>
    </div>
</section>
<div id="result-bottom">
    <div>
        <div class="container-margin py-5 show-border-f result-bottom-h">
        </div>
    </div>
</div>
<!-- Iconic Section 5 Ends -->

<!-- Iconic Section 6 -->
<section class="iconic-section8">
    <div class="container-margin">
        <!-- Animation -->
        <div class="border-bottom-animation d-flex">
            <div class="w-50 position-relative border-bottom-animation-b">
                <div class="border-bottom-animation-l-2"></div>
            </div>
            <div class="w-50 position-relative border-bottom-animation-b">
                <div class="border-bottom-animation-r-2"></div>
            </div>
        </div>
        <!-- Animation -->
        <div class="works-footer-border">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-center animate-2-top">
                    <h3 class="h1">We are a Creative, Growth and Performance based Marketing agency that caters to
                        aspirational consumers.</h3>
                </div>
                <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                    <div class="card1 d-flex justify-content-center animate-2-top">
                        <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/the-accretio-appointment/schedule-a-meeting'});return false;"
                            class="schedule" style="cursor: pointer;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-top d-flex">
                                        <h5 class="card-title pb-4 h6">Schedule a meeting.</h5>
                                        <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                    </div>
                                    <p class="card-text">let’s connect</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                    <div class="card1 card2 d-flex justify-content-center animate-2-top">
                        <a href="{% url 'letsconnect' %}" class="schedule">
                            <div id="card2" class="card">
                                <div class="card-body">
                                    <div class="card-top d-flex">
                                        <h5 class="card-title pb-4 pe-3 h6">Contact to elevate.</h5>
                                        <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                    </div>
                                    <p class="card-text">let’s connect</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Iconic Section 6 Ends -->
{% endblock %}