{% extends 'base.html' %}
{% load static %}
{% block title %}Expertise | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block meta-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block canonical-link %}https://theaccretio.com/expertise{% endblock %}
{% block og-url %}https://theaccretio.com/expertise{% endblock %}
{% block og-title %}Expertise | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-sitename %}Expertise | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-imgalt %}Expertise | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block twitter-imgalt %}Expertise | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block twitter-title %}Expertise{% endblock %}
{% block twitter-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}

{% block content %}
<main class="home-scrolleffect">
    <section id="home-scroll-section-1" class="panel home-scrolleffection-sec1 bg-transparent">
        <div class="sticky-height">
            <div class="sticky-content">
                <div class="content-wrapper expertise-scrolleffection-sec1">
                    <div class="home-scrolleffect-t scrolleffect-title-ani-2">
                        <h1 class="ourworks-scrolleffect-title-2 scrolleffect-title-ani">
                            Your<br>Growth.<br>Our<br>Expertise.
                        </h1>
                    </div>
                    <div class="home-scrolleffect-t2 about-scrolleffection-sec1-bg-2">
                        <div class="container-margin-home">
                            <p class="ourworks-scrolleffect-title-p-2">As a business leader, you know all too well
                                about the
                                relentless focus on delivering results for your company. And that's where The
                                Accretio comes
                                in. Our deep and expansive expertise has proven, time and time again, that we can
                                achieve
                                powerful outcomes for our clients. We are here to deliver the results you need.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Expertise section 2 -->
    <section class="club-section1">
        <div>
            <div class="container-margin show-border-f p-0">
                <!-- <div class="animate-3"></div> -->
                <div class="row g-0 expert-object-2">
                    <div class="col-12 d-flex justify-content-center align-items-center border-r animate-2-top">
                        <div class="expertise-subtext-3">
                            <h2 class="expert-title-2-h3 mb-0">Love, passion and imagination forms the hallmark of
                                every
                                piece of work we do.</h2>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
        <div>
            <div class="container-margin show-border-f p-0">
                <!-- <div class="animate-3"></div> -->
                <div class="row g-0">
                    <div class="col-12 d-flex justify-content-center border-r about-subtext">
                        <div class="expertise-subtext-3">
                            <p class="expert-p animate-2-top mb-0">Combining the right balance of novelty,
                                aesthetics
                                and familiarity forms the recipe of our design philosophy. We apply strategic design
                                thinking to even the toughest of business challenges. Our unmatched detailing
                                establishes a connection with end customers swiftly, makes every story memorable and
                                adds a lot more to your Brand personality.</p>
                            <p class="expert-p mt-4 mb-0 animate-2-top">When you partner with Accretio, you harness
                                the
                                power of a passionate team that lives and breathes design. Together, we'll embark on
                                a
                                transformative journey, unlocking your brand's true potential and positioning it as
                                an
                                unrivalled force in the market.</p>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
        <div>
            <div class="container-margin show-border-f p-0">
                <!-- <div class="animate-3"></div> -->
                <div class="p-100">
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">Website Development</h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expertise-ani">
                        <div class="row g-0">
                            <div
                                class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext">
                                <div class="expertise-subtext-3 animate-2-top">
                                    <h3 class="expert-title-2-h3 mb-0">Today, more than ever, your website acts as a
                                        reflection
                                        of who you are and what your brand stands for.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext pt-0 expertise-subtext-2">
                            <div
                                class="expertise-subtext-3 expert-object-2 d-flex flex-column justify-content-end pt-lg-4">
                                <p class="expert-p animate-2-top mb-0">Based on what your target consumer
                                    experiences on
                                    their first visit, they will decide whether to invite your brand and its content
                                    to
                                    become a part of their lifestyle.</p>
                                <p class="expert-p mt-4 mb-0 animate-2-top">Presenting you W series, a speciality
                                    Web
                                    and
                                    App designing studio by The Accretio. We are here to set new standards in Web
                                    designing
                                    through creating premium quality websites, incorporating various analytic tools
                                    and
                                    bringing in new innovations and eventually increasing online conversions.</p>
                                <p class="expert-p mt-4 mb-0 animate-2-top">Our experienced UX team works on
                                    User-Centered
                                    Design principles to map the journey of users to create a site that performs and
                                    converts. We use data acquired from Real Time Heat Mapping and other analytical
                                    tools to
                                    provide a seamless and engaging User Experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0 pb-100">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-3 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <!-- <div class="animate-3"></div> -->
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">SEO</h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext">
                            <div class="expertise-subtext-3 pb-5 d-flex flex-column justify-content-end">
                                <p class="expert-p animate-2-top mb-0">The hardest problem for companies on the
                                    internet
                                    is
                                    to be found.</p>
                                <p class="expert-p mt-4 mb-0 animate-2-top">As a specialized SEO firm, The Accretio
                                    consultants work tirelessly to increase the traffic to client’s website and
                                    inturn
                                    convert them as buyers. This is achieved through combining the knowledge of
                                    client
                                    products, Brand positioning and competitor study to aid Keyword research – How
                                    target
                                    audience is searching a brand and its offerings on search engines.</p>
                                <p class="expert-p mt-4 mb-0 animate-2-top">And with Voice assistants coming in,
                                    there
                                    is
                                    usage of long sentences, and it's quite common today to do that, for example,
                                    hey
                                    Alexa,
                                    can you find me the best construction company nearby. And when you optimize your
                                    search
                                    engine results to those long keywords, it brings up website ranking quite
                                    significantly
                                    and helps them stand out in SEO ranking.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0 pb-100">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-1 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <!-- <div class="animate-3"></div> -->
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">Commerce</h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext animate-2-top">
                            <div class="expertise-subtext-3 pb-5 d-flex flex-column justify-content-end">
                                <p class="expert-p mb-0">E-Commerce transactions should be more than transactional.
                                    Go-to-market strategies, modern operating models, and technology to deliver a
                                    proper
                                    eCommerce, and virtual initiatives are all in our wheelhouse. Our shared mission
                                    will be
                                    to unlock growth, increase conversion, and nurture brand love and loyalty.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0 pb-100">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-6 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <!-- <div class="animate-3"></div> -->
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">Brand Strategy</h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext animate-2-top">
                            <div class="expertise-subtext-3">
                                <h3 class="expert-title-2-h3 mb-0">Building sustainable relationships with customer
                                    is
                                    all
                                    about making them fall in love with your brand.</h3>
                            </div>
                            <div
                                class="expertise-subtext-3 expert-object-2 d-flex flex-column justify-content-end animate-2-top">
                                <p class="expert-p mb-0">Brand relevance is more critical to growth than ever
                                    before.
                                    You
                                    can anchor your brand in purpose, create lasting connections, and provide a
                                    solid
                                    foundation everywhere you come in contact with your customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0 pb-100">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-2 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <!-- <div class="animate-3"></div> -->
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">Experience Innovation
                                    </h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext animate-2-top">
                            <div class="expertise-subtext-3 pb-5 d-flex flex-column justify-content-end">
                                <p class="expert-p mb-0">Break the bonds of the expected to forge new frontiers of
                                    growth.
                                    Put your audience at the heart of unexpected experiences across channels, in
                                    physical,
                                    retail, Web 3, VR, blockchain and more—all wrapped in brilliant storytelling.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0 pb-100">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-4 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <!-- <div class="animate-3"></div> -->
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">Marketing Transformation
                                    </h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext animate-2-top">
                            <div class="expertise-subtext-3 pb-5 d-flex flex-column justify-content-end">
                                <p class="expert-p mb-0">Powerful consumer insights, brought to life with the best
                                    creative
                                    ideas and innovative media thinking can transform your marketing. The outcome is
                                    a
                                    highly collaborative, user-first approach to modern marketing that scales across
                                    traditional channels and emerging spaces like the metaverse.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0 pb-100">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-5 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f p-0">
                    <!-- <div class="animate-3"></div> -->
                    <div class="d-flex justify-content-end">
                        <div class="expertise-ani-2">
                            <div class="row">
                                <div
                                    class="col-md-auto d-flex justify-content-lg-center justify-content-start animate-2-top expertise-service-t">
                                    <h5 class="client-name card-title fw-600">AI</h5>
                                </div>
                                <div class="col animate-2-top">
                                    <div class="title-line2 star-x-2">
                                        <div class="line4-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div
                            class="col-12 d-flex flex-column justify-content-center align-items-center expertise-subtext animate-2-top">
                            <div class="expertise-subtext-3 pb-5 d-flex flex-column justify-content-end">
                                <p class="expert-p mb-0">Our AI-powered solutions enable us to optimize various
                                    aspects
                                    of
                                    your brand's ecosystem. From personalized customer experiences and targeted
                                    marketing
                                    campaigns to intelligent data-driven forecasting and predictive analytics, we
                                    harness
                                    the capabilities of AI to enhance efficiency, boost performance, and drive
                                    growth.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-margin show-border-f px-0">
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="show-img1 w-100 p-16">
                                <div class="expertise-img-7 expertise-img-h animate-2-top"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
            </div>
    </section>
    <!-- Expertise section 2 ends -->

    <!-- Expertise Section 3 -->
    <section class="about-section8">
        <div class="container-margin">
            <div class="works-footer-border">
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-center animate-2-top">
                        <h3 class="h1">We are a Creative, Growth and Performance based Marketing agency that caters
                            to
                            aspirational consumers.</h3>
                    </div>
                    <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                        <div class="card1 d-flex justify-content-center animate-2-top">
                            <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/the-accretio-appointment/schedule-a-meeting'});return false;"
                                class="schedule" style="cursor: pointer;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-top d-flex">
                                            <h5 class="card-title pb-4 h6">Schedule a meeting.</h5>
                                            <!-- <div class="card-arrow">
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </div> -->
                                        </div>
                                        <p class="card-text">let’s connect</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                        <div class="card1 card2 d-flex justify-content-center animate-2-top">
                            <a href="{% url 'letsconnect' %}" class="schedule">
                                <div id="card2" class="card">
                                    <div class="card-body">
                                        <div class="card-top d-flex">
                                            <h5 class="card-title pb-4 pe-3 h6">Contact to elevate.</h5>
                                            <!-- <div class="card-arrow">
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </div> -->
                                        </div>
                                        <p class="card-text">let’s connect</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Expertise Section 3 ends -->
{% endblock %}