{% load static %}
<!-- Footer -->
<footer class="acc-footer">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 animate-2-top">
                    <div class="footer-left">
                        <h3 class="h2 footer-title mb-4 text-white">Contact</h3>
                        <div class="d-flex flex-column">
                            <a class="pb-3 avenir h6 text-decoration-underline text-white"
                                href="mailto:inquiry@theaccretio.com">inquiry@theaccretio.com</a>
                            <a class="pb-3 avenir h6 text-decoration-none text-white"
                                href="tell:+917904087668">+91
                                79040 87668</a>
                            <p class="h6 avenir text-white-50">The Accretio by Zerafe LLP, Kasavanahalli,
                                Bangalore.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 animate-2-top">
                    <div class="row justify-content-end">
                        <div class="col-lg-4">
                            <div class="footer-right">
                                <div class="social-icons d-flex justify-content-start justify-content-lg-end">
                                    <a href="https://www.instagram.com/"><i
                                            class="p-3 text-white fs-4 fa-brands fa-instagram"></i></a>
                                    <a href="https://facebook.com/"><i
                                            class="p-3 text-white fs-4 fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i
                                            class="p-3 text-white fs-4 fa-brands fa-twitter"></i></a>
                                    <a href="https://www.whatsapp.com/"><i
                                            class="p-3 text-white fs-4 fa-brands fa-whatsapp"></i></a>
                                </div>
                                <!-- <p class="avenir acc-copyright">© Accretio by Zerafe. All rights reserved. Registered in England & Wales. Registered Company #07828770. VAT Number GB143874886. "VERB" is a registered trademark of VERB Brands Limited.</p> -->
                                <div class="d-flex flex-column align-items-start align-items-lg-end">
                                    <a class="acc-copyright p-0 m-0 text-decoration-underline" href="#">Privacy
                                        Policy</a>
                                    <a class="acc-copyright p-0 m-0 text-decoration-underline" href="#">Cookies
                                        Policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer ends -->
</main>

<!-- Scroll Top -->
<div class="sticky-scroll">
<a href="#scroll2top" class="scrolltop"><i class="fa-solid fa-chevron-up"></i></a>
</div>
<div class="sticky-scroll2 no-d-desktop d-mobile">
<a href="#scroll2top" class="scrolltop text-white"><i class="fa-solid fa-chevron-up"></i></a>
</div>
<!-- Scroll Top -->

<!-- JS files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.1/ScrollTrigger.min.js"></script>
<script type="module" src="{% static 'js/main2.js' %}"></script>
<!-- Calendly link widget begin -->
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<!-- Calendly link widget end -->