{% extends 'base.html' %}
{% load static %}
{% block title %}I2C2 | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block meta-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block canonical-link %}https://dineshvijayakumar96.pythonanywhere.com/our-works/i2c2{% endblock %}
{% block og-url %}https://dineshvijayakumar96.pythonanywhere.com/our-works/i2c2{% endblock %}
{% block og-title %}I2C2 | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-sitename %}I2C2 | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-imgalt %}I2C2 | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block twitter-imgalt %}I2C2 | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block twitter-title %}I2C2{% endblock %}
{% block twitter-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}

{% block content %}
<!-- I2C2 section 1 -->
<section class="iconic-section1 margin-top-nav no-d-mobile">
    <div class="container-margin show-border-f p-0">
        <div class="animate-3"></div>
        <div class="iconic-video1">
            <div class="ai-video2-2 animate-2-top no-d-mobile">
                <video class="w-100 d-block" muted loop playsinline preload="none" poster="{% static 'images/teaser-thumb.png' %}"
                    controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                    <source src="{% static 'images/teaser.mp4' %}" type="video/mp4">
                </video>
                <div class="ai-play-button iconic-play-button"></div>
            </div>
            {% comment %} <div class="show-img1 w-100 no-d-desktop d-mobile">
                <picture>
                    <source srcset="{% static 'images/rectangle72.webp' %}" type="image/webp">
                    <img loading="lazy" class="img-fluid" src="{% static 'images/rectangle72.png' %}" alt="I2C2 Logo Big">
                </picture>
            </div> {% endcomment %}
        </div>
    </div>
</section>
<!-- I2C2 section 1 ends -->

<!-- Section Works Video -->
<section class="works-video-sec no-d-desktop d-mobile">
    <div class="bg-video-works">
        {% comment %} <div class="ai-video2 content-video position-relative">
            <video class="d-block" autoplay muted loop playsinline preload="none"
                controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback">
                <source src="{% static 'images/teaser.mp4' %}" type="video/mp4">
            </video>
            <!-- <div class="ai-play-button"></div> -->
        </div> {% endcomment %}
        <div class="show-img1 w-100 vh-100">
            <picture class="d-flex justify-content-center">
                <source srcset="{% static 'images/i2c2-mobile-bg.webp' %}" type="image/webp">
                <img loading="lazy" class="vh-100" src="{% static 'images/i2c2-mobile-bg.png' %}"
                    alt="EduBEST Bill Board Mockup 3">
            </picture>
        </div>
    </div>
</section>
<!-- Section Works Video -->

<section class="work-overlay-content w-lines vh-100">
    <div class="animate-2-2 w-lines vh-100">
        <div class="container-margin show-border-f vh-100 p-0">
            <div class="d-mobile no-d-desktop work-over-content-position">
                <div class="row">
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h1 class="text-white mb-0 display-1 fw-600 text-start text-animate">
                                <span class="text-white mb-0 display-1 fw-600 text-start">#5 I2C2</span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 animate-2-top">
                        <div class="container">
                            <div class="about-content3 justify-content-start">
                                <h3 class="text-white mb-0 fs-5 text-start text-animate">Conclave</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 animate-2-top">
                        <div class="container">
                            <div class="about-content3">
                                <h3 class="text-white mb-0 fs-5 text-start text-animate">Branding</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
    </div>
</section>

<!-- I2C2 Section 2 -->
<section class="iconic-section2 bg-darker w-lines">
    <div class="w-lines">
        <div class="container-margin show-border-f p-0">
            <div class="d-desktop no-d-mobile">
                <div class="row">
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h1 class="text-white mb-0 display-1 fw-600 text-start text-animate">
                                <span class="text-white mb-0 display-1 fw-600 text-start">#5</span><br>I2C2
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h3 class="text-white mb-0 display-5 text-center text-animate">Conclave</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h3 class="text-white mb-0 display-5 text-center text-animate">Branding</h3>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="d-mobile no-d-desktop">
                <div class="row">
                    <div class="col-lg-4 animate-2-top">
                        <div class="container about-content3">
                            <h1 class="text-white mb-0 display-1 fw-600 text-start text-animate">
                                <span class="text-white mb-0 display-1 fw-600 text-start">#5</span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 animate-2-top">
                        <div class="container about-content3">
                            <h3 class="text-white mb-0 fs-3 text-center text-animate">I2C2</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 animate-2-top">
                        <div class="about-content3">
                            <h3 class="text-white mb-0 fs-5 text-center text-animate">Conclave</h3>
                        </div>
                    </div>
                    <div class="col-lg-4 col-4 animate-2-top">
                        <div class="about-content3">
                            <h3 class="text-white mb-0 fs-5 text-center text-animate">Branding</h3>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
    <div class="w-lines">
        <div class="container-margin show-border-f p-0">
            <div class="row g-0 w-lines iconic-border-r-hide">
                <div class="col-lg-3 col-12 border-r iconic-sec2-box1 animate-2-top">
                    <div class="py-3 i2c2-h-inherit d-mobile no-d-desktop">
                        <p class="text-white about-subtext-p text-center fs-4 lh-base mb-4"></p>
                    </div>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                    <div class="my-3 i2c2-h-inherit d-flex justify-content-center align-items-center">
                        <p class="text-white about-subtext-p text-center fs-4 lh-base m-0">Challenges</p>
                    </div>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                <div class="col-lg-9 col-12 d-flex justify-content-center border-r">
                    <div id="iconic-gridline-1" class="row w-lines">
                        <div class="col-12">
                            <div class="row g-0 h-100 w-lines iconic-border-r-hide">
                                <div class="col-lg-6 border-r animate-2-top">
                                    <div class="iconic-grid-single">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Limited resources</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                                <div class="col-lg-6 animate-2-top">
                                    <div class="iconic-grid-single">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Choosing the most effective
                                                Event Marketing channels.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="row g-0 h-100 w-lines iconic-border-r-hide">
                                <div class="col-lg-6 border-r animate-2-top">
                                    <div class="iconic-grid-single">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Creating visually appealing
                                                branding collaterals as it involved International delegates.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                                <div class="col-lg-6 animate-2-top">
                                    <div class="iconic-grid-single">
                                        <div class="ps-3 about-subtext-3 w-75">
                                            <p class="text-white fs-5 lh-base my-3">Engage with larger audience
                                                through social media on event days and post event engagement.</p>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                    <div class="border-bottom-animation d-flex">
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-l-2"></div>
                                        </div>
                                        <div class="w-50 position-relative">
                                            <div class="border-bottom-animation-r-2"></div>
                                        </div>
                                    </div>
                                    <!-- Animation -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
</section>
<!-- I2C2 Section 2 Ends -->

<!-- I2C2 Section 3 -->
<section class="iconic-section3">
    <div>
        <div class="container-margin py-5 show-border-f">
            <div class="row">
                <div class="col-lg-3 col-6 animate-2-top">
                    <h2 class="text-showcase text-end display-1 fw-bold text-center strategy-title text-animate">Strategy
                        <br> and Plan
                    </h2>
                </div>
                <div class="col-lg-9 col-6 animate-2-top">
                    <div class="title-line iconic-objects-2 ms-5">
                        <div class="line2-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container-margin show-border-f p-0">
            <div id="i2c2-section3" class="row g-0 px-5 py-2">
                <div class="col-lg-5 col-12 animate-2-top">
                    <div class="show-img1 w-100">
                        <picture>
                            <source srcset="{% static 'images/rectangle72.webp' %}" type="image/webp">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/rectangle72.png' %}" alt="I2C2 Logo Big">
                        </picture>
                    </div>
                </div>
                <div id="i2c2-section3-p"
                    class="col-lg-7 col-12 p-5 d-flex justify-content-center align-items-center animate-2-top">
                    <div>
                        <p class="strategy-p">At The Accretio, everything starts with a brand story, on what we
                            intend to convey to the audience through design elements be it through logo, effective
                            promotional materials, event teasers, banners or any other brand collaterals.</p>
                        <p class="strategy-p">We had a detailed discussion with the client on the scope of the
                            project, understand their Target audience and story behind why the event is being held.
                            As it involved International participants, we understood the large scope and nature of
                            the project and the importance of Branding to set the tone for the conference.</p>
                        <p class="strategy-p">To harness the full potential, we sat with our team and created brand
                            guidelines and started working on the brand identity, brand archetype, brand promise,
                            values, tone of voice, typography, images and other assets.</p>
                        <p class="strategy-p">To effectively use all the promotional materials to build brand
                            awareness, increase the reach and create a buzz around the conference.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-margin p-0">
        <div class="animate-3"></div>
    </div>
</section>
<!-- I2C2 Section 3 Ends -->

<!-- I2C2 Section 4 -->
<section class="iconic-section2 bg-darker w-lines">
    <div class="w-lines">
        <div class="container-margin show-border-f p-0">
            <div class="row">
                <div class="col-lg-3 animate-2-top">
                    <div class="container about-content3 d-flex justify-content-center iconic-plan-title">
                        <h3 class="text-white mb-0 display-4 fw-500 text-start text-animate">Plan<br> Execution
                        </h3>
                    </div>
                </div>
                <div class="col-lg-9 animate-2-top">
                    <div class="container about-content3">
                        <p class="text-white objectives-p iconic-plan-p">To achieve our objectives, we designed and
                            built a series of distinct, compelling concepts With the level of saturation in real
                            estate, it’s essential to stand out on social media and give people something that
                            improves your credibility and brand values.</p>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
    <div class="w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines">
                <div class="col-lg-5 show-border-f d-flex justify-content-center flex-column i2c2-object-2 animate-2-top">
                    <p class="plan-ex-p py-5 px-4">We began with research and brainstorming about the project, their
                        company, markets, and competitive landscape. Delegates included Policy Makers from Govt. of
                        India, Nepal, educators, and scientists from across many countries.</p>
                    <!-- Animation -->
                    <div class="d-mobile no-d-desktop">
                        <div class="border-bottom-animation">
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                <div class="col-lg-3 border-r i2c2-object-2 animate-2-top no-d-mobile d-desktop">
                </div>
                <div
                    class="col-lg-4 border-r d-flex justify-content-center align-items-end i2c2-object-2 animate-2-top">
                    <p class="plan-ex-p my-5 px-4">To give an International look and feel for the conclave, we
                        developed a logo first conveying the essence of the conference theme: Innovation in
                        Education.</p>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
    <div class="w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines">
                <div
                    class="col-lg-5 border-r d-flex justify-content-center align-items-end i2c2-object-2 animate-2-top">
                    <p class="plan-ex-p my-5 px-4">We designed the World Forum for Education website from the
                        scratch for the Three day International Innovation and Creativity Conclave. We started with
                        creating the right landing page and to keep it simple and minimal as it was the main hub for
                        the details and registration. We prioritized including all the details by providing the
                        brochure and a clear CTA to get updates and register for the event.</p>
                </div>
                <div
                    class="col-lg-7 border-r d-flex justify-content-center align-items-end i2c2-object-2 animate-2-top">
                    <div class="show-img1 w-100">
                        <picture>
                            <source srcset="{% static 'images/group-34.webp' %}" type="image/webp">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/group-34.png' %}"
                                alt="World forum for Education WFE website">
                        </picture>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
    <div class="w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines iconic-border-r-hide">
                <div
                    class="col-lg-5 order-lg-2 border-r d-flex justify-content-center align-items-end i2c2-object-2 animate-2-top">
                    <p class="plan-ex-p my-5 px-4">Our team focused on the content Marketing as it was very
                        important for a large scale event involving intellectual audience. We regularly updated the
                        live happenings in social media, posted live pictures and videos from the event from
                        welcoming them in airport to panel speeches, recorded testimonials, sent official press
                        releases to all the magazines, conducted interviews with featured speakers.</p>
                </div>
                <div
                    class="col-lg-7 order-lg-1 border-r d-flex justify-content-center align-items-end animate-2-top">
                    <div class="show-img1 w-100">
                        <picture>
                            <source srcset="{% static 'images/registration-desktop-1.webp' %}" type="image/webp">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/registration-desktop-1.png' %}"
                                alt="I2C2 Event Mockup">
                        </picture>
                    </div>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
    <div class="w-lines">
        <div class="container-margin show-border-l-r p-0">
            <div class="row g-0 w-lines iconic-border-r-hide">
                <div class="col-lg-7 border-r d-flex justify-content-center align-items-end i2c2-object-2">
                    <div class="row">
                        <div class="col-lg-8 animate-2-top">
                            <p class="plan-ex-p my-5 px-4">Our creative talents came up a conference teaser which we
                                could use to promote it online and send it across to all the delegates to give a
                                first look of how the conference is going to be. This set the tone for the big day.</p>
                        </div>
                    </div>
                </div>
                <div
                    class="col-lg-5 border-r d-flex justify-content-center align-items-end i2c2-object-2 animate-2-top">
                    <p class="plan-ex-p my-5 px-4 text-decoration-underline">Live streaming was done in YouTube.
                        Official Press Release was sent for all the magazines during the conference.</p>
                </div>
            </div>
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
    </div>
    <div class="w-lines">
        <div class="container-margin pb-5 show-border-full w-lines">
            <div class="about-button2 w-btn pt-5 h-25">
            </div>
        </div>
    </div>
</section>
<!-- I2C2 Section 4 Ends -->

<!-- I2C2 Section 5 -->
<section class="about-section6 bg-green">
    <div class="animate-2-top">
        <div class="container-margin show-border-f p-0">
            <div class="container about-content3">
                <h3 class="mb-0 display-3 text-animate">Results</h3>
            </div>
        </div>
        <!-- Animation -->
        <div class="border-bottom-animation d-flex">
            <div class="w-50 position-relative border-bottom-animation-b">
                <div class="border-bottom-animation-l-2"></div>
            </div>
            <div class="w-50 position-relative border-bottom-animation-b">
                <div class="border-bottom-animation-r-2"></div>
            </div>
        </div>
        <!-- Animation -->
    </div>
    <div class="bg-green">
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-21.svg' %}" width="50" alt="Ellipse Pie">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">The result was a significant increase in
                                            traffic to the website and a surge in their social media network.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-22.svg' %}" width="50" alt="Ellipse Pie">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">Our effective promotions through videos
                                            resulted in garnering an overall impression of around one lakh
                                            impressions and created an excellent pre-conference buzz in social media
                                            platforms.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-23.svg' %}" width="50" alt="Ellipse Pie">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">Overall brand building through the event
                                            by giving an International look and feel to the conclave through
                                            communicating through different medium.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
        <div>
            <div class="container-margin show-border-l-r p-0">
                <div class="row g-0">
                    <div class="col-12">
                        <div>
                            <div class="container">
                                <div class="row">
                                    {% comment %} <div
                                        class="col-lg-1 d-flex justify-content-center align-items-center animate-2-top">
                                        <img loading="lazy" class="img-fluid iconic-green-ellipse"
                                            src="{% static 'images/ellipse-24.svg' %}" width="50" alt="Ellipse Pie">
                                    </div> {% endcomment %}
                                    <div class="col-lg-12 animate-2-top">
                                        <p class="text-dark objectives-p">With the capability to manage leads, run
                                            automated email campaigns, and personalize the experience of every
                                            individual, The Accretio will transform how you approach your next
                                            event.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
        </div>
    </div>
</section>
<!-- I2C2 Section 5 Ends -->

<!-- I2C2 Section 6 -->
<section class="section6 i2c2-footer">
    <div class="container-margin">
        <div class="show-b-t w-client py-0-mobile container">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-center animate-2-top">
                    <h3 class="h1">We are a Creative, Growth and Performance based Marketing agency that caters to
                        aspirational consumers.</h3>
                </div>
                <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                    <div class="card1 d-flex justify-content-center animate-2-top">
                        <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/the-accretio-appointment/schedule-a-meeting'});return false;"
                            class="schedule" style="cursor: pointer;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-top d-flex">
                                        <h5 class="card-title pb-4 h6">Schedule a meeting.</h5>
                                        <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                    </div>
                                    <p class="card-text">let’s connect</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                    <div class="card1 card2 d-flex justify-content-center animate-2-top">
                        <a href="{% url 'letsconnect' %}" class="schedule">
                            <div id="card2" class="card">
                                <div class="card-body">
                                    <div class="card-top d-flex">
                                        <h5 class="card-title pb-4 pe-3 h6">Contact to elevate.</h5>
                                        <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                    </div>
                                    <p class="card-text">let’s connect</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- I2C2 Section 6 ends -->
{% endblock %}