{% extends 'base.html' %}
{% load static %}
{% block title %}Our Works | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block meta-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block canonical-link %}https://theaccretio.com/our-works{% endblock %}
{% block og-url %}https://theaccretio.com/our-works{% endblock %}
{% block og-title %}Our Works | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-sitename %}Our Works | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-imgalt %}Our Works | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block og-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}
{% block twitter-imgalt %}Our Works | The Accretio | Branding. Creative. Atelier.{% endblock %}
{% block twitter-title %}Our Works{% endblock %}
{% block twitter-description %}A boutique Branding and Creative Atelier based in Bangalore, South India working globally. Strategic in approach. Innovative in craft.{% endblock %}

{% block content %}
<main class="home-scrolleffect">
    <section id="home-scroll-section-1" class="panel home-scrolleffection-sec1 bg-transparent">
        <div class="sticky-height">
            <div class="sticky-content">
                <div class="content-wrapper ourworks-scrolleffection-sec1 ourworks-scrolleffection-sec1-m">
                    <div class="home-scrolleffect-t scrolleffect-title-ani-2">
                        <h1 class="ourworks-scrolleffect-title-2 scrolleffect-title-ani">
                            Reimagine.<br>Disruption.<br>Results.
                        </h1>
                    </div>
                    <div class="home-scrolleffect-t2 ourworks-scrolleffection-sec2">
                        <div class="container-margin-home">
                            <p class="ourworks-scrolleffect-title-p-2">The Accretio helps you make bold leaps that
                                reimagine
                                your customer experience and create positive disruption with powerful results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Works Section 2 -->
    <section class="section3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section2-title d-flex text-light my-5">
                        <div class="section3-text-2">
                            <h2 class="text-start animate-2-top ms-3 ms-lg-5 text-animate">Approaches</h2>
                            <p class="expertise-t-s text-start ms-3 ms-lg-5 animate-2-top">We create experiences for
                                your
                                customers that inspire action, build loyalty, and unlock growth across channels,
                                media
                                and beyond.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="title-line">
                        <!-- <div class="line"></div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="approaches">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="expertise-content mt-3">
                            <div class="row">
                                <div id="approaches-box" class="col-xl-3 col-lg-4 col-sm-6 me-5">
                                    <div class="expertise-box animate-2-top">
                                        <h4 class="expertise-title mb-5">Fearless Creativity</h4>
                                        <p class="expertise-c fs-4">We bring true innovation to market, breaking the
                                            mold with innovative uses of technology and human-centred experience
                                            design.
                                        </p>
                                        <span class="expertise-c-b fs-4">FC</span>
                                    </div>
                                </div>
                                <div id="approaches-box" class="col-xl-3 col-lg-4 col-sm-6 me-5 animate-2-top">
                                    <div class="expertise-box">
                                        <h4 class="expertise-title mb-5">Real Human Insight</h4>
                                        <p class="expertise-c fs-4">We go beyond one-time investigations and
                                            overarching
                                            generalisations to living, real-time human truths, backed by data.</p>
                                        <span class="expertise-c-b fs-4">RHI</span>
                                    </div>
                                </div>
                                <div id="approaches-box" class="col-xl-3 col-lg-4 col-sm-6 animate-2-top">
                                    <div class="expertise-box">
                                        <h4 class="expertise-title mb-5">Buisness Rigor</h4>
                                        <p class="expertise-c fs-4">We pair our creative instincts with strategic
                                            assessments to validate the innovations that will drive outcomes for
                                            your
                                            brand.</p>
                                        <span class="expertise-c-b fs-4">BR</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Works Section 2 ends -->

    <!-- Works Section 3 -->
    <section class="works-section3">
        <div class="container">
            <div id="case-study-id" class="case-study">
                <div>
                    <div class="works-container p-0">
                        <div class="container">
                            <div class="works-title2">
                                <h3 class="mb-0 display-3 fw-600 text-animate">Case Study.</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                </div>
                <div class="works-content-container">
                    <div class="works-sub-title1 my-5">
                        <div id="works-border-id" class="row">
                            <div class="col-lg-5 col-5 d-flex align-items-center section3-text-2 animate-2-top">
                                <h4 class="work-first-title1">Antaracares</h4>
                            </div>
                            <div
                                class="col-lg-4 col-5 d-flex align-items-center justify-content-lg-center justify-content-start section3-text-2 animate-2-top">
                                <h4 class="work-first-title2">Hosur, South India</h4>
                            </div>
                            <div
                                class="col-lg-3 col-2 d-flex align-items-center justify-content-lg-end justify-content-start animate-2-top">
                                <h4 class="work-first-title1">#1</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-image-1">
                    <div class="iconic-city animate-2-top">
                        <a class="text-decoration-none iconic-img-btn" href="{% url 'antaracares' %}">
                            <picture>
                                <source srcset="{% static 'images/works-img-2.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/works-img-2.png' %}"
                                    alt="Iconic City Poster">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="works-image-1 animate-2-top">
                    <div class="works-divider">
                        <div id="works-divider-line-r" class="works-divider-line d-flex justify-content-end">
                            <div class="title-line2 line-x py-4">
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="works-content-1">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 animate-2-top">
                                <div class="works-content-p">
                                    <p class="avenir works-content-p-1">In the ever-evolving landscape of digital wellness, Antara Cares embarked on a transformative journey to establish itself as a beacon of holistic well-being. Our focus was on crafting a digital marketing strategy that not only showcased Antara Cares' online naturopathy clinic but also positioned it as a pioneering force in the realm of digital wellness.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 animate-2-top">
                                <h4 class="h3 text-lg-end text-start">Revolutionizing Wellness: A Digital Marketing Triumph for Antara Cares, the Online Naturopathy Clinic</h4>
                            </div>
                            <div class="col-12 animate-2-top">
                                <div class="me-0 mt-5">
                                    <a class="connect-btn text-decoration-none" href="{% url 'antaracares' %}">Know More <i
                                            class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-border-divider-top">
                    <div class="animate-3 m-0"></div>
                </div>
                <div class="works-content-container pt-1">
                    <div class="works-sub-title1 my-5">
                        <div id="works-border-id" class="row">
                            <div class="col-lg-5 col-5 d-flex align-items-center section3-text-2 animate-2-top">
                                <h4 class="work-first-title1">EduBEST</h4>
                            </div>
                            <div
                                class="col-lg-4 col-5 d-flex align-items-center justify-content-lg-center justify-content-start section3-text-2 animate-2-top">
                                <h4 class="work-first-title2">Online Learning</h4>
                            </div>
                            <div
                                class="col-lg-3 col-2 d-flex align-items-center justify-content-lg-end justify-content-start animate-2-top">
                                <h4 class="work-first-title1">#2</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-image-1">
                    <div class="iconic-city animate-2-top">
                        <a class="text-decoration-none iconic-img-btn" href="{% url 'edubest' %}">
                            <picture>
                                <source srcset="{% static 'images/works-img-3.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/works-img-3.png' %}"
                                    alt="Iconic City Poster">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="works-image-1 animate-2-top">
                    <div class="works-divider">
                        <div id="works-divider-line-r" class="works-divider-line d-flex justify-content-end">
                            <div class="title-line2 line-x py-4">
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="works-content-1">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 animate-2-top">
                                <div class="works-content-p">
                                    <p class="avenir works-content-p-1">In the ever-evolving landscape of online education, our strategic collaboration with an innovative online learning platform stands as a testament to the transformative power of technology, user-centric design, and effective digital marketing. Join us on a journey that showcases how our partnership propelled the platform to the forefront of the competitive EdTech arena, redefining the standards of online learning and community engagement.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 animate-2-top">
                                <h4 class="h3 text-lg-end text-start">Transformative Partnership: A Case Study in Elevating an Online Learning Platform</h4>
                            </div>
                            <div class="col-12 animate-2-top">
                                <div class="me-0 mt-5">
                                    <a class="connect-btn text-decoration-none" href="{% url 'edubest' %}">Know More <i
                                            class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-border-divider-top">
                    <div class="animate-3 m-0"></div>
                </div>
                <div class="works-content-container pt-1">
                    <div class="works-sub-title1 my-5">
                        <div id="works-border-id" class="row">
                            <div class="col-lg-5 col-5 d-flex align-items-center section3-text-2 animate-2-top">
                                <h4 class="work-first-title1">Iconic City</h4>
                            </div>
                            <div
                                class="col-lg-4 col-5 d-flex align-items-center justify-content-lg-center justify-content-start section3-text-2 animate-2-top">
                                <h4 class="work-first-title2">Coimbatore, South India</h4>
                            </div>
                            <div
                                class="col-lg-3 col-2 d-flex align-items-center justify-content-lg-end justify-content-start animate-2-top">
                                <h4 class="work-first-title1">#3</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-image-1">
                    <div class="iconic-city animate-2-top">
                        <a class="text-decoration-none iconic-img-btn" href="{% url 'iconiccity' %}">
                            <picture>
                                <source srcset="{% static 'images/works-img-1.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/works-img-1.png' %}"
                                    alt="Iconic City Poster">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="works-image-1 animate-2-top">
                    <div class="works-divider">
                        <div id="works-divider-line-r" class="works-divider-line d-flex justify-content-end">
                            <div class="title-line2 line-x py-4">
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="works-content-1">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 animate-2-top">
                                <div class="works-content-p">
                                    <p class="avenir works-content-p-1">The impact of technology is visible in the Real Estate sector as well. Earlier Real Estate agents used to connect with customers via phone or in person. Now, personal interaction is replaced by digital ones— email, social media, apps, and websites. Through omnichannel communication, we have achieved a unified approach in design, strategy, and customer experience across multiple channels.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 animate-2-top">
                                <h4 class="h3 text-lg-end text-start">Generating leads through an Omni-Channel
                                    Marketing
                                    Strategy:</h4>
                            </div>
                            <div class="col-12 animate-2-top">
                                <div class="me-0 mt-5">
                                    <a class="connect-btn text-decoration-none" href="{% url 'iconiccity' %}">Know More <i
                                            class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-border-divider-top">
                    <div class="animate-3 m-0"></div>
                </div>
                <div class="works-content-container pt-1">
                    <div class="works-sub-title1 my-5">
                        <div id="works-border-id" class="row">
                            <div class="col-lg-5 col-5 d-flex align-items-center section3-text-2 animate-2-top">
                                <h4 class="work-first-title1">BESTIU</h4>
                            </div>
                            <div
                                class="col-lg-4 col-5 d-flex align-items-center justify-content-lg-center justify-content-start section3-text-2 animate-2-top">
                                <h4 class="work-first-title2">Innovation University</h4>
                            </div>
                            <div
                                class="col-lg-3 col-2 d-flex align-items-center justify-content-lg-end justify-content-start animate-2-top">
                                <h4 class="work-first-title1">#4</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-image-1">
                    <div class="iconic-city animate-2-top">
                        <a class="text-decoration-none iconic-img-btn" href="{% url 'bestiu' %}">
                            <picture>
                                <source srcset="{% static 'images/works-img-4.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/works-img-4.png' %}"
                                    alt="Iconic City Poster">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="works-image-1 animate-2-top">
                    <div class="works-divider">
                        <div id="works-divider-line-r" class="works-divider-line d-flex justify-content-end">
                            <div class="title-line2 line-x py-4">
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="works-content-1">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 animate-2-top">
                                <div class="works-content-p">
                                    <p class="avenir works-content-p-1">In the dynamic realm of academia, BEST Innovation University sought not just recognition but a distinctive identity that echoes innovation and excellence. Our strategic collaboration extended beyond traditional branding, encompassing website development, digital ad campaigns, a notable presence at Dubai EXPO, meticulous brochure design, and a streamlined social media admission process.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 animate-2-top">
                                <h4 class="h3 text-lg-end text-start">BEST INNOVATION UNIVERSITY BRANDING INITIATIVE</h4>
                            </div>
                            <div class="col-12 animate-2-top">
                                <div class="me-0 mt-5">
                                    <a class="connect-btn text-decoration-none" href="{% url 'bestiu' %}">Know More <i
                                            class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-border-divider-top">
                    <div class="animate-3 m-0"></div>
                </div>
                <div class="works-content-container pt-1">
                    <div class="works-sub-title1 my-5">
                        <div id="works-border-id" class="row">
                            <div class="col-lg-5 col-5 d-flex align-items-center section3-text-2 animate-2-top">
                                <h4 class="work-first-title1">I2C2</h4>
                            </div>
                            <div
                                class="col-lg-4 col-5 d-flex align-items-center justify-content-lg-center justify-content-start section3-text-2 animate-2-top">
                                <h4 class="work-first-title2">Conclave Branding</h4>
                            </div>
                            <div
                                class="col-lg-3 col-2 d-flex align-items-center justify-content-lg-end justify-content-start animate-2-top">
                                <h4 class="work-first-title1">#5</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="works-image-1">
                    <div class="iconic-city animate-2-top">
                        <a class="text-decoration-none iconic-img-btn" href="{% url 'i2c2' %}">
                            <picture>
                                <source srcset="{% static 'images/i2c2-logo.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid p-0 p-lg-5" src="{% static 'images/i2c2-logo.png' %}"
                                    alt="I2C2 Logo">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="works-image-1 animate-2-top">
                    <div class="works-divider">
                        <div id="works-divider-line-r" class="works-divider-line">
                            <div class="title-line2 line-x py-4">
                                <div class="line3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="works-content-1">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-5 animate-2-top">
                                <div class="works-content-p">
                                    <p class="avenir works-content-p-1">There is a huge difference between having
                                        great
                                        purpose driven design aesthetics and having great designs. There are plenty
                                        of
                                        nice logos out there, plenty of brands with beautiful images, but a lot of
                                        them
                                        lack substance. That’s where we came into picture. To find a balance between
                                        design aesthetics and substance.</p>
                                </div>
                            </div>
                            <div class="col-lg-5 animate-2-top">
                                <h4 class="h3 text-lg-end text-start">Brand Positioning through International events</h4>
                            </div>
                            <div class="col-12 animate-2-top">
                                <div class="me-0 mt-5">
                                    <a class="connect-btn text-decoration-none" href="{% url 'i2c2' %}">Know More <i
                                            class="ps-3 fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Works Section 3 Ends -->

    <!-- Works Section 4 -->
    <section class="works-section4">
        <div class="container-margin py-5">
            <div class="row">
                <div class="col-lg-4 col-6 animate-2-top">
                    <h3 class="text-showcase text-end display-1 text-center text-animate">Showcase</h3>
                </div>
                <div class="col-lg-8 col-6 animate-2-top">
                    <div class="title-line">
                        <div class="line2-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-margin p-0">
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
        <div>
            <div class="container-margin show-border-f p-0">
                <div class="row g-0">
                    <div class="col-lg-5 col-12 border-r animate-2-top mb-5 mb-lg-0 d-desktop no-d-mobile">
                        <div class="ai-video2 content-video position-relative p-16">
                            <video class="w-100 d-block" muted loop playsinline preload="none"
                                controlslist="nodownload noremoteplayback disablepictureinpicture disableremoteplayback"
                                poster="{% static 'images/fortune-friday-thumb.png' %}">
                                <source src="{% static 'images/fortune-friday.mp4' %}" type="video/mp4">
                            </video>
                            <!-- <div class="ai-play-button"></div> -->
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                    </div>
                    <div class="col-lg-7 col-12 animate-2-top mb-5 mb-lg-0">
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="show-img1 w-100 p-16">
                            <picture>
                                <source srcset="{% static 'images/paints-mck1.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/paints-mck1.png' %}"
                                    alt="Paint Company Brochure">
                            </picture>
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container-margin p-0">
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
        <div>
            <div class="container-margin show-border-f p-0">
                <div class="row g-0">
                    <div class="col-lg-6 col-12 border-r animate-2-top mb-5 mb-lg-0">
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="show-img1 w-100 p-16">
                            <picture>
                                <source srcset="{% static 'images/pooja-billboard.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/pooja-billboard.png' %}"
                                    alt="Pooja's Green City Bill Board">
                            </picture>
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                    </div>
                    <div class="col-lg-6 col-12 animate-2-top mb-5 mb-lg-0">
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                        <div class="show-img1 w-100 p-16">
                            <picture>
                                <source srcset="{% static 'images/parktown1.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/parktown1.png' %}"
                                    alt="Sree Pooja's Park Town Brochure Mockup">
                            </picture>
                        </div>
                        <!-- Animation -->
                        <div class="border-bottom-animation d-flex">
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-l-2"></div>
                            </div>
                            <div class="w-50 position-relative border-bottom-animation-b">
                                <div class="border-bottom-animation-r-2"></div>
                            </div>
                        </div>
                        <!-- Animation -->
                    </div>
                </div>
            </div>
        </div>
        <div class="works-creative-combine">

            <div class="works-creative-content-1">
                <div class="container-margin show-border-f p-0">
                    <div class="row g-0">
                        <div
                            class="col-lg-7 col-12 border-r d-flex justify-content-center align-items-center works-creative-height animate-2-top mb-5 mb-lg-0">
                            <div class="works-creatives-1 w-100 d-flex justify-content-center">
                                <h4 class="display-4 lh-1 fw-600 text-animate">Creating.<br> Inspiring.<br>
                                    Creatives.</h4>
                                <!-- Animation -->
                                <div class="border-bottom-animation d-flex">
                                    <div class="w-50 position-relative border-bottom-animation-b">
                                        <div class="border-bottom-animation-l-2"></div>
                                    </div>
                                    <div class="w-50 position-relative border-bottom-animation-b">
                                        <div class="border-bottom-animation-r-2"></div>
                                    </div>
                                </div>
                                <!-- Animation -->
                            </div>
                        </div>
                        <div class="col-lg-5 col-12 animate-2-top mb-5 mb-lg-0">
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                            <div class="show-img1 w-100 p-16">
                                <picture>
                                    <source srcset="{% static 'images/spi-creative-1.webp' %}" type="image/webp">
                                    <img loading="lazy" class="img-fluid" src="{% static 'images/spi-creative-1.png' %}"
                                        alt="SPI Global Poster Cable Management">
                                </picture>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-margin works-creative-grid p-0">
                <!-- Animation -->
                <div class="border-bottom-animation d-flex">
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-l-2"></div>
                    </div>
                    <div class="w-50 position-relative border-bottom-animation-b">
                        <div class="border-bottom-animation-r-2"></div>
                    </div>
                </div>
                <!-- Animation -->
            </div>
            <div class="works-creative-grid">
                <div class="container-margin show-border-f p-0">
                    <!-- Animation -->
                    <div class="border-bottom-animation d-flex">
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-l-2"></div>
                        </div>
                        <div class="w-50 position-relative border-bottom-animation-b">
                            <div class="border-bottom-animation-r-2"></div>
                        </div>
                    </div>
                    <!-- Animation -->
                    <div class="row g-0">
                        <div class="col-lg-4 col-12 border-r animate-2-top mb-5 mb-lg-0">
                            <div class="show-img1 w-100 p-16">
                                <picture>
                                    <source srcset="{% static 'images/brass-fittings-page.webp' %}" type="image/webp">
                                    <img loading="lazy" class="img-fluid"
                                        src="{% static 'images/brass-fittings-page.png' %}" alt="CUPBZN Brass Fittings">
                                </picture>
                            </div>
                            <!-- Animation -->
                            <div class="border-bottom-animation d-flex">
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-l-2"></div>
                                </div>
                                <div class="w-50 position-relative border-bottom-animation-b">
                                    <div class="border-bottom-animation-r-2"></div>
                                </div>
                            </div>
                            <!-- Animation -->
                        </div>
                        <div class="col-lg-8 col-12 animate-2-top">
                            <div class="row h-100 align-items-end">
                                <div class="col-12">
                                    <div class="show-img1 w-100">
                                        <div class="p-0">
                                            <!-- Animation -->
                                            <div class="border-bottom-animation d-flex">
                                                <div class="w-50 position-relative border-bottom-animation-b">
                                                    <div class="border-bottom-animation-l-2"></div>
                                                </div>
                                                <div class="w-50 position-relative border-bottom-animation-b">
                                                    <div class="border-bottom-animation-r-2"></div>
                                                </div>
                                            </div>
                                            <!-- Animation -->
                                        </div>
                                        <picture>
                                            <source srcset="{% static 'images/engineers-day-creative1.webp' %}"
                                                type="image/webp">
                                            <img loading="lazy" class="img-fluid p-16"
                                                src="{% static 'images/engineers-day-creative1.png' %}"
                                                alt="Engineers Day Instagram Carousel">
                                        </picture>
                                        <!-- Animation -->
                                        <div class="border-bottom-animation d-flex">
                                            <div class="w-50 position-relative border-bottom-animation-b">
                                                <div class="border-bottom-animation-l-2"></div>
                                            </div>
                                            <div class="w-50 position-relative border-bottom-animation-b">
                                                <div class="border-bottom-animation-r-2"></div>
                                            </div>
                                        </div>
                                        <!-- Animation -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-margin p-0">
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
        <div class="d-desktop no-d-mobile">
            <div class="container-margin show-border-f p-0">
                <div class="row g-0">
                    <div class="col-12 animate-2-top mb-5 mb-lg-0">
                        <div class="show-img1 w-100">
                            <picture>
                                <source srcset="{% static 'images/digital-mockup-2.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/digital-mockup-2.png' %}"
                                    alt="Digital Devide Instagram Carousel">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-margin p-0">
            <!-- Animation -->
            <div class="border-bottom-animation d-flex">
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-l-2"></div>
                </div>
                <div class="w-50 position-relative border-bottom-animation-b">
                    <div class="border-bottom-animation-r-2"></div>
                </div>
            </div>
            <!-- Animation -->
        </div>
        <div class="d-desktop no-d-mobile">
            <div class="container-margin show-border-f p-0">
                <div class="row g-0">
                    <div class="col-12 animate-2-top mb-5 mb-lg-0">
                        <div class="show-img1 w-100">
                            <picture>
                                <source srcset="{% static 'images/iconic-times-1.webp' %}" type="image/webp">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/iconic-times-1.png' %}"
                                    alt="Iconic Times News Instagram Carousel">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Works Section 4 Ends -->

    <!-- Work Section 5 -->
    <section class="about-section8">
        <div class="container">
            <div class="show-b-t works-footer-border">
                <div class="row">
                    <div class="col-lg-8 d-flex align-items-center animate-2-top">
                        <h3 class="h1">We are a Creative, Growth and Performance based Marketing agency that caters
                            to
                            aspirational consumers.</h3>
                    </div>
                    <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                        <div class="card1 d-flex justify-content-center animate-2-top">
                            <a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/the-accretio-appointment/schedule-a-meeting'});return false;"
                                class="schedule" style="cursor: pointer;">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-top d-flex">
                                            <h5 class="card-title pb-4 h6">Schedule a meeting.</h5>
                                            <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                        </div>
                                        <p class="card-text">let’s connect</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 g-0 mt-sm-3 d-flex about-bottom-card-m">
                        <div class="card1 card2 d-flex justify-content-center animate-2-top">
                            <a href="{% url 'letsconnect' %}" class="schedule">
                                <div id="card2" class="card">
                                    <div class="card-body">
                                        <div class="card-top d-flex">
                                            <h5 class="card-title pb-4 pe-3 h6">Contact to elevate.</h5>
                                            <!-- <div class="card-arrow">
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </div> -->
                                        </div>
                                        <p class="card-text">let’s connect</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Work Section 5 Ends -->
{% endblock %}